<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: {{ user }}</strong><br />
  <strong>Data/hora: {{ date }}</strong><br />
  <br />
  <small>
    O horário esta novamente disponível para agendamento.
  </small>
</p>
